//To display the RSS feed from NOIC
.rss-title{
    font-size: 1.6em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}


li.rss-item{
  border-top: dotted 2px rgba(160, 160, 160, 0.3);
  margin: 1.5em 0 0 0;
}

ul.rss-items{
   margin-left: 0px;
   list-style: none;
}

a.rss-item{
  text-align: left; 
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}



.rss-box-noic, .rss-box-obmepeiros{
    box-shadow: 0px 2px 10px rgba(0, 0, 0, .5);
    padding: 10px;
    margin-top: 20px;
}


.rss-item-auth{
    text-align: left; 
    font-size: 14px;
    color: #828282; 
}

.rss-date{
text-align: left; 
display: block;
font-size: 14px;
font-weight: 800;
color: #828282; 
}


.username{
    word-wrap:break-word;
}

.nav{
  cursor: default;
}
