/* line 124, ../sass/_sm-simple.scss */
.sm-simple {
/*  border: 1px solid #3c3cac;*/
  background: #141439;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
/* line 131, ../sass/_sm-simple.scss */
.sm-simple a, .sm-simple a:hover, .sm-simple a:focus, .sm-simple a:active {
  padding: 13px 20px;
  /* make room for the toggle button (sub indicator) */
  padding-right: 62px;
  color: #fff;
  font-family: Arial, Verdana, Tahoma, Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 17px;
  text-decoration: none;
}
/* line 146, ../sass/_sm-simple.scss */
.sm-simple a.current {
  background: #fff;
  color: #141439;
}
/* line 151, ../sass/_sm-simple.scss */
.sm-simple a.disabled {
  color: lightren(#141439, 20%);
}
/* line 156, ../sass/_sm-simple.scss */
.sm-simple a span.sub-arrow {
  position: absolute;
  top: 50%;
  margin-top: -19px;
  left: auto;
  right: 4px;
  width: 38px;
  height: 38px;
  overflow: hidden;
  font: bold 14px/38px monospace !important;
  text-align: center;
  text-shadow: none;
  background: rgba(255, 255, 255, 0.2);
}
/* line 171, ../sass/_sm-simple.scss */
.sm-simple a.highlighted span.sub-arrow:before {
  display: block;
  content: '-';
}
/* line 178, ../sass/_sm-simple.scss */
/* .sm-simple li {
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}/*
/* line 181, ../sass/_sm-simple.scss */
.sm-simple > li:first-child {
  border-top: 0;
}
/* line 186, ../sass/_sm-simple.scss */
.sm-simple ul {
  background: rgba(60, 60, 170, 0.1);
}
/* line 191, ../sass/_sm-simple.scss */
.sm-simple ul a, .sm-simple ul a:hover, .sm-simple ul a:focus, .sm-simple ul a:active {
  font-size: 14px;
  border-left: 8px solid transparent;
}
/* line 8, ../sass/mixins/_sub-items-indentation.scss */
.sm-simple ul ul a,
.sm-simple ul ul a:hover,
.sm-simple ul ul a:focus,
.sm-simple ul ul a:active {
  border-left: 16px solid transparent;
}
/* line 8, ../sass/mixins/_sub-items-indentation.scss */
.sm-simple ul ul ul a,
.sm-simple ul ul ul a:hover,
.sm-simple ul ul ul a:focus,
.sm-simple ul ul ul a:active {
  border-left: 24px solid transparent;
}
/* line 8, ../sass/mixins/_sub-items-indentation.scss */
.sm-simple ul ul ul ul a,
.sm-simple ul ul ul ul a:hover,
.sm-simple ul ul ul ul a:focus,
.sm-simple ul ul ul ul a:active {
  border-left: 32px solid transparent;
}
/* line 8, ../sass/mixins/_sub-items-indentation.scss */
.sm-simple ul ul ul ul ul a,
.sm-simple ul ul ul ul ul a:hover,
.sm-simple ul ul ul ul ul a:focus,
.sm-simple ul ul ul ul ul a:active {
  border-left: 40px solid transparent;
}

@media (min-width: 800px) {
  /* Switch to desktop layout
  -----------------------------------------------
     These transform the menu tree from
     collapsible to desktop (navbar + dropdowns)
  -----------------------------------------------*/
  /* start... (it's not recommended editing these rules) */
  /* line 219, ../sass/_sm-simple.scss */
  .sm-simple ul {
    position: absolute;
    width: 12em;
  }

  /* line 220, ../sass/_sm-simple.scss */
  .sm-simple li {
    float: left;
  }

  /* line 221, ../sass/_sm-simple.scss */
  .sm-simple.sm-rtl li {
    float: right;
  }

  /* line 222, ../sass/_sm-simple.scss */
  .sm-simple ul li, .sm-simple.sm-rtl ul li, .sm-simple.sm-vertical li {
    float: none;
  }

  /* line 223, ../sass/_sm-simple.scss */
  .sm-simple a {
    white-space: nowrap;
  }

  /* line 224, ../sass/_sm-simple.scss */
  .sm-simple ul a, .sm-simple.sm-vertical a {
    white-space: normal;
  }

  /* line 225, ../sass/_sm-simple.scss */
  .sm-simple .sm-nowrap > li > a, .sm-simple .sm-nowrap > li > :not(ul) a {
    white-space: nowrap;
  }

  /* ...end */
  /* line 229, ../sass/_sm-simple.scss */
  .sm-simple {
    background: #141439;
  }
  /* line 234, ../sass/_sm-simple.scss */
  .sm-simple a, .sm-simple a:hover, .sm-simple a:focus, .sm-simple a:active, .sm-simple a.highlighted {
    padding: 11px 20px;
    color: #fff;
  }
  /* line 243, ../sass/_sm-simple.scss */
  .sm-simple a:hover, .sm-simple a:focus, .sm-simple a:active, .sm-simple a.highlighted {
    background: #222261;
  }
  /* line 250, ../sass/_sm-simple.scss */
  .sm-simple a.current {
    background: #fff;
    color: #141439;
  }
  /* line 255, ../sass/_sm-simple.scss */
  .sm-simple a.disabled {
    background: #141439;
    color: #2e2e85;
  }
  /* line 261, ../sass/_sm-simple.scss */
  .sm-simple a.has-submenu {
    padding-right: 32px;
  }
  /* line 266, ../sass/_sm-simple.scss */
  .sm-simple a span.sub-arrow {
    top: 50%;
    margin-top: -8px;
    right: 8px;
    width: 8px;
    height: 16px;
    font: 14px/16px monospace !important;
    background: transparent;
  }
  /* line 276, ../sass/_sm-simple.scss */
  .sm-simple a.highlighted span.sub-arrow:before {
    display: none;
  }
  /* line 282, ../sass/_sm-simple.scss */
  .sm-simple > li {
    border-top: 0;
    border-left: 1px solid #222261;
  }
  /* line 286, ../sass/_sm-simple.scss */
  .sm-simple > li:first-child {
    border-left: 0;
  }
  /* line 292, ../sass/_sm-simple.scss */
  .sm-simple ul {
    border: 1px solid #3c3cac;
    background: #141439;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  }
  /* line 298, ../sass/_sm-simple.scss */
  .sm-simple ul a {
    border: 0 !important;
  }
  /* line 302, ../sass/_sm-simple.scss */
  .sm-simple ul a.has-submenu {
    padding-right: 20px;
  }
  /* line 307, ../sass/_sm-simple.scss */
  .sm-simple ul a span.sub-arrow {
    left: auto;
    margin-right: 8px;
  }
  /* line 314, ../sass/_sm-simple.scss */
  .sm-simple ul > li {
    border-left: 0;
    border-top: 1px solid #222261;
  }
  /* line 318, ../sass/_sm-simple.scss */
  .sm-simple ul > li:first-child {
    border-top: 0;
  }
  /* line 325, ../sass/_sm-simple.scss */
  .sm-simple span.scroll-up,
  .sm-simple span.scroll-down {
    position: absolute;
    display: none;
    visibility: hidden;
    overflow: hidden;
    background: #141439;
    height: 20px;
  }
  /* line 335, ../sass/_sm-simple.scss */
  .sm-simple span.scroll-up-arrow, .sm-simple span.scroll-down-arrow {
    position: absolute;
    top: -2px;
    left: 50%;
    margin-left: -8px;
    width: 0;
    height: 0;
    overflow: hidden;
    border-width: 8px;
    border-style: dashed dashed solid dashed;
    border-color: transparent transparent #fff transparent;
  }
  /* line 348, ../sass/_sm-simple.scss */
  .sm-simple span.scroll-down-arrow {
    top: 6px;
    border-style: solid dashed dashed dashed;
    border-color: #fff transparent transparent transparent;
  }
  /* line 365, ../sass/_sm-simple.scss */
  .sm-simple.sm-rtl a.has-submenu {
    padding-right: 20px;
    padding-left: 32px;
  }
  /* line 371, ../sass/_sm-simple.scss */
  .sm-simple.sm-rtl a span.sub-arrow {
    right: auto;
    left: 20px;
  }
  /* line 382, ../sass/_sm-simple.scss */
  .sm-simple.sm-rtl.sm-vertical a.has-submenu {
    padding: 11px 20px;
  }
  /* line 387, ../sass/_sm-simple.scss */
  .sm-simple.sm-rtl.sm-vertical a span.sub-arrow {
    right: 20px;
    margin-right: -12px;
  }
  /* line 396, ../sass/_sm-simple.scss */
  .sm-simple.sm-rtl > li:first-child {
    border-left: 1px solid #222261;
  }
  /* line 399, ../sass/_sm-simple.scss */
  .sm-simple.sm-rtl > li:last-child {
    border-left: 0;
  }
  /* line 409, ../sass/_sm-simple.scss */
  .sm-simple.sm-rtl ul a.has-submenu {
    padding: 11px 20px;
  }
  /* line 414, ../sass/_sm-simple.scss */
  .sm-simple.sm-rtl ul a span.sub-arrow {
    right: 20px;
    margin-right: -12px;
  }
  /* line 432, ../sass/_sm-simple.scss */
  .sm-simple.sm-vertical a span.sub-arrow {
    right: auto;
    margin-left: -12px;
  }
  /* line 439, ../sass/_sm-simple.scss */
  .sm-simple.sm-vertical li {
    border-left: 0;
    border-top: 1px solid #222261;
  }
  /* line 443, ../sass/_sm-simple.scss */
  .sm-simple.sm-vertical > li:first-child {
    border-top: 0;
  }
}
