---
layout: compress
---

<!DOCTYPE html>
<html>
{% include head.html %}
<body>
  {% include header.html %}
  {% if site.auto-menu %}
  {% capture this_date_hour %}{{site.time | date: '%Y%B%d%H%M'}}{% endcapture %}
    {% include_cached  menu.html date=this_date_hour %}
  {% else %}
    {% include  fast-menu.html %}
  {% endif %}
      {% include js.html %}
    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}
    {% include google-analytics.html %}
  </body>

</html>
